In [ ]:
#

In [ ]:
#@title #1. Library { display-mode: "form" }
import os
import re
import math
import warnings
import numpy as np
import pandas as pd
import gspread as gs
import seaborn as sns
from google.colab import files, drive, auth
from google.auth import default
from collections import Counter
from matplotlib import pyplot as plt
import matplotlib.patches as mpatches
def fxn():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    fxn()

# import gc
# gc.collect(generation=0)

In [ ]:
#@title Autenticador en drive { display-mode: "form" }
#@markdown ---
# authorization in drive
drive.mount('/content/drive')
dir_path = '/content/drive/MyDrive/ETB/Codes/2022/Functions/Normalization/'
os.chdir(dir_path)
from func_callout import *
dir_path = '/content/drive/MyDrive/ETB/Data/Actualización bases mensuales ETB Total/'
os.chdir(dir_path)

Mounted at /content/drive

# Mayo

In [ ]:
#@title ###Seleccionar mes para analizar {run: "auto", vertical-output: true }
Mes = 'Mayo' #@param ['Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
Year= '2022' #@param ['2022']
path = os.path.join('Data/ETB_Total/'+Year+'/'+Mes,'')

In [ ]:
#@title ### Verificación de archivos disponibles. { vertical-output: true }
os.listdir(path)

['Base Total de Clientes de la Operacion Fija_20220527.xlsx',
 'Retorno_Mayo.xlsx',
 'seguimiento_corte_Mayo.csv',
 'Retorno_Mayo_v2.xlsx']

In [ ]:
#@title ###Carga del mes selecionado { run: "auto", vertical-output: true }
Nombre_archivo = 'Base Total' #@param {type:"string"}
nombre_completo= [i for i in os.listdir(path) if Nombre_archivo in i][0]
df_m = pd.read_excel(path+nombre_completo,sheet_name='Consulta1')
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633323 entries, 0 to 633322
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   TIPO_DOCUMENTO         633323 non-null  object
 1   NUMERO_DOCUMENTO       633323 non-null  object
 2   NOMBRE_CLIENTE         632588 non-null  object
 3   TELEFONO               620928 non-null  object
 4   TELEFONO_CONTACTO_1    483227 non-null  float64
 5   TELEFONO_CONTACTO_2    525601 non-null  float64
 6   TELEFONO_CONTACTO_3    320759 non-null  float64
 7   LOCALIDAD              564322 non-null  object
 8   BARRIO                 547616 non-null  object
 9   DIRECCION_INSTALACION  633192 non-null  object
 10  LATITUD                564422 non-null  float64
 11  LONGITUD               564422 non-null  float64
 12  PAQUETE                633323 non-null  object
 13  PAQUETE_PLAN           598791 non-null  object
 14  CICLO                  631355 non-null  float64
 15  ESTADO                 633323 non-null  object
 16  HABEAS_DATA            633323 non-null  object
 17  MOVIL_ETB_ACTUAL       31572 non-null   float64
 18  MOVIL_ETB_HISTORICO    633323 non-null  object
 19  Tipo_oferta            608402 non-null  object
 20  Antiguedad_meses       631823 non-null  float64
 21  VELOCIDAD              533942 non-null  object
 22  TECNOLOGIA             633323 non-null  object
 23  TARIFA_CONFIGURADA     580360 non-null  float64
 24  ESTRATO_USO            633323 non-null  int64
 25  celular_1              268453 non-null  float64
 26  celular_2              172704 non-null  float64
 27  celular_3              95842 non-null   float64
 28  C_SEG_UEN              633323 non-null  object
 29  Localidad_zona         633323 non-null  object
 30  tipo_estrato           633323 non-null  object
 31  Tipo_velocidad         633323 non-null  object
 32  grupos                 633323 non-null  object
 33  pqr                    633323 non-null  int64
dtypes: float64(12), int64(2), object(20)
memory usage: 164.3+ MB

In [ ]:
#@markdown ###Carga archivo ETB Total Ultima versión actualizada { run: "auto", vertical-output: true }
Meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
path_etb_total = os.path.join('Data/ETB_Total/'+Year+'/'+Meses[Meses.index(Mes)-1]+'/','')
Nombre_archivo_act = 'Base Total Actualizada'
nombre_completo_act= [i for i in os.listdir(path_etb_total) if Nombre_archivo_act in i][0]
df_t = pd.read_excel(path_etb_total+nombre_completo_act,sheet_name='Consulta1')
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633766 entries, 0 to 633765
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   TIPO_DOCUMENTO         633766 non-null  object
 1   NUMERO_DOCUMENTO       633766 non-null  object
 2   NOMBRE_CLIENTE         632783 non-null  object
 3   TELEFONO               624062 non-null  object
 4   TELEFONO_CONTACTO_1    481427 non-null  float64
 5   TELEFONO_CONTACTO_2    521560 non-null  float64
 6   TELEFONO_CONTACTO_3    315034 non-null  float64
 7   LOCALIDAD              561002 non-null  object
 8   BARRIO                 543542 non-null  object
 9   DIRECCION_INSTALACION  633654 non-null  object
 10  LATITUD                563027 non-null  float64
 11  LONGITUD               563027 non-null  float64
 12  PAQUETE                633766 non-null  object
 13  PAQUETE_PLAN           597708 non-null  object
 14  CICLO                  630756 non-null  float64
 15  ESTADO                 633766 non-null  object
 16  HABEAS_DATA            633766 non-null  object
 17  MOVIL_ETB_ACTUAL       31749 non-null   float64
 18  MOVIL_ETB_HISTORICO    633766 non-null  object
 19  Tipo_oferta            607477 non-null  object
 20  Antiguedad_meses       632255 non-null  float64
 21  VELOCIDAD              530830 non-null  object
 22  TECNOLOGIA             633766 non-null  object
 23  TARIFA_CONFIGURADA     592678 non-null  float64
 24  ESTRATO_USO            633766 non-null  int64
 25  celular_1              272231 non-null  float64
 26  celular_2              175121 non-null  float64
 27  celular_3              97179 non-null   float64
 28  C_SEG_UEN              633766 non-null  object
 29  Localidad_zona         633766 non-null  object
 30  tipo_estrato           633766 non-null  object
 31  Tipo_velocidad         633766 non-null  object
 32  grupos                 633766 non-null  object
 33  pqr                    633766 non-null  int64
dtypes: float64(12), int64(2), object(20)
memory usage: 164.4+ MB

In [ ]:
df_t.shape

(633766, 34)

In [ ]:
df_t[df_t.TELEFONO=='17386429']

,TIPO_DOCUMENTO,NUMERO_DOCUMENTO,NOMBRE_CLIENTE,TELEFONO,TELEFONO_CONTACTO_1,TELEFONO_CONTACTO_2,TELEFONO_CONTACTO_3,LOCALIDAD,BARRIO,DIRECCION_INSTALACION,...,ESTRATO_USO,celular_1,celular_2,celular_3,C_SEG_UEN,Localidad_zona,tipo_estrato,Tipo_velocidad,grupos,pqr
586089,CC,3087400,ALVARO JOSE BLANDON,17386429,6.017386e+09,3.115692e+09,NaN,KENNEDY,CIUDAD TECHO II,KR 82A 6 37 IN 7 AP 1028,...,4,3.115692e+09,3.115692e+09,3.144409e+09,HOGARES,zona centro sur,alto,Mayor 100,FTTH - Dúo - zona centro sur - alto - Mayor 100,3

In [ ]:
df_t.drop_duplicates(subset=['TELEFONO','NUMERO_DOCUMENTO'], keep='first', inplace=True)
df_t.reset_index(drop=True, inplace=True)
df_t.shape

(633761, 34)

In [ ]:
df_t_ = df_t.copy()

In [ ]:
df_t_['TELEFONO2'] = 0
df_t_['TELEFONO2'] = df_t_.TELEFONO

In [ ]:
df_m.shape

(633323, 34)

In [ ]:
df_m.drop_duplicates(subset=['TELEFONO','NUMERO_DOCUMENTO'], keep='first', inplace=True)
df_m.reset_index(drop=True, inplace=True)
df_m.shape

(633138, 34)

In [ ]:
dft_st = df_t[df_t_.TELEFONO.isna()]
dft_ct = df_t[df_t_.TELEFONO.notna()]
dft_ct.reset_index(drop = True, inplace= True)
dfm_st = df_m[df_m.TELEFONO.isna()]
dfm_ct = df_m[df_m.TELEFONO.notna()]
dfm_ct.reset_index(drop = True, inplace= True)
x1 = dft_ct['NUMERO_DOCUMENTO'].tolist()
y1 = dfm_ct['NUMERO_DOCUMENTO'].tolist()
x2 = dft_ct['TELEFONO'].tolist()
y2 = dfm_ct['TELEFONO'].tolist()
ind_doc = list(np.where(np.isin(y1, list(set(x1) & set(y1)) , assume_unique=True))[0])
ind_con = list(np.where(np.isin(y2, list(set(x2) & set(y2)) , assume_unique=True))[0])
indx = list(set(ind_doc) & set(ind_con))
# print(len(ind_doc),len(ind_con),len(indx))
# nuevos
df_New = dfm_ct.drop(indx,axis=0)
print('Registros nuevos: {}'.format(df_New.shape))

Registros nuevos: (18706, 34)

In [ ]:
df_New['Emergia_Mayo_nuevo'] = 1
df_t_['Emergia_Mayo_nuevo'] = 0
dfm_st['Emergia_Mayo_nuevo'] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until